html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  line-height: 1;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  top: 0px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
}

.logo span {
  color: grey;
  height: 1.5rem;
  font-family: "Verdana", sans-serif;
}

ol, ul {
  list-style: none;
}

header nav ul {
  display: flex;
}

nav li {
  padding: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}
