html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  line-height: 1;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  margin-top: 0px;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
}

.logo span {
  color: grey;
  height: 1.5rem;
  font-family: "Verdana", sans-serif;
}

ol, ul {
  list-style: none;
}

header nav ul {
  display: flex;
}

nav li {
  padding: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}

#start-section {
  position: relative;
  top: 5.3125rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-color: grey;
  }

#banner-image {
  position: left;
  padding: 32px 24px;
  height: auto;
  width: 60%;
}

#start-section .content-center {
  height: auto;
  width: 40%;
}

#start-section h1 {
  font-family: "Rubik", sans-serif;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#start-section h2 {
  font-family: "Rubik", sans-serif;
  margin-bottom: 1rem;
}

#start-section .button {
  margin: .5rem;
  padding: 1.25rem; 7.25rem;
}

.button {
  background-color: darkgrey;
  color: white;
}
